@using ClassLibrary
@model IEnumerable<UserRoleViewModel>
@{
    ViewData["Title"] = "Update Roles";
}

<h1>@ViewData["Title"]</h1>

<table class="text-white">
    <tr>
        <th class="fs-4 fw-normal">User</th>
        <th class="fs-4 fw-normal">Roles</th>
        <th></th>
    </tr>
</table>

@foreach (var userRoleViewModel in Model)
{
    <form asp-action="UpdateUserRoles" method="post" onsubmit="showSuccessModal()">
        <table class="table">
            <tr>
                <td>@userRoleViewModel.UserName</td>
                <td>
                    <select name="newRole" asp-for="@userRoleViewModel.CurrentRole" asp-items="userRoleViewModel.Roles">
                    </select>
                    <input type="hidden" name="userId" asp-for="@userRoleViewModel.UserId" />
                </td>
                <td>
                    <input type="submit" value="Update" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </form>
}

<style>
    table {
        width: 100%;
    }
    th, td {
        width: 33.33%;
        text-align: left;
    }

</style>

@section Scripts {
    <script>
        function showSuccessModal() {
            alert('Role updated successfully.');
        }
    </script>
}
