@model ClassLibrary.Models.Trip

@{
    ViewData["Title"] = "Edit Trip";
}

@* <component type="typeof(EditTrip)" render-mode="ServerPrerendered" param-TripId="@Model.TripId" param-VehicleId="@Model.VehicleId" /> *@


<h1>Edit Trip</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="TripId" />

    <div class="form-group">
        <label asp-for="VehicleId" class="control-label">Vehicle</label>
        <select asp-for="VehicleId" class ="form-control" asp-items="ViewBag.VehicleId"></select>
    </div>

    <div class="form-group">
        <label asp-for="Date" class="control-label">Date</label>
        <input asp-for="Date" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Time" class="control-label">Time</label>
        <input asp-for="Time" type="time" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DestinationAddress" class="control-label">Destination Address</label>
        <input asp-for="DestinationAddress" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MeetingAddress" class="control-label">Meeting Address</label>
        <input asp-for="MeetingAddress" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
