@model IEnumerable<ClassLibrary.Models.Manifest>
@using assignment1.Components

@{
    ViewData["Title"] = "All Manifests";
}

<component type="typeof(Manifests)" render-mode="ServerPrerendered" />

@if (User.IsInRole("Admin")) {
    <a asp-action="GeneratePDFReport" asp-controller="Manifests" class="btn btn-primary">Generate All Manifest Report</a>
}

<a asp-action="TripPdf" asp-controller="Manifests" class="btn btn-secondary">Generate Trip Report</a>
