@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Assignment 1</h1>
    <br/>
    <h2>Darren Luck</h2>
    <h2>Lester Shun</h2>
    <h2>Ozan Yurtisigi</h2>
    <h2>Khanh Linh Nguyen</h2>
</div>
